
<div class="container">
<% if @plan.comments.count >0 %>
	<hr>
  <h3>留言<i class="fa fa-commenting" aria-hidden="true"></i></h3>
  <% @plan.comments.each do |c| %>
  <br>
 	<i class="fa fa-user-o fa-2x" aria-hidden="true"></i>
 	<p><%= c.comment_body %> <strong>By:</strong><%= c.commenter%> </p>
 

			<% if c.commenter==current_user.nickname || @plan.host ==current_user.nickname %>
		   	<%= link_to 'Destroy Comment', plan_comment_path(@plan,c) ,method: :delete, data: { confirm: '確定要刪除留言?' } %>
			<% end %>

	<% end %>
<% end %>
</div>
<hr>

