<div class="banner">
 	
		<%= image_tag "goal.png" ,class:"resize" %>
		<%= image_tag "soccer.png" ,class:"soccer"%>

	<div class="newlayer text-center ">
			<div class="info">
			<h3>ㄧ起記錄清單，完成夢想</h3>
			<%= link_to '瞭解更多' ,how_it_works_path, class:"btn"%>
			</div>
	</div>

</div>


