<div class="container">
	<h1>Q&A</h1>
</div>
<div class="container">
	<h2>1.怎麼設立願望清單?</h2>
	<div class="col-md-2">
		<h4>step1.註冊</h4>
		<p>註冊為免費，且可永久保存清單</p>	
	</div>
	<div class="col-md-2">
		<h4>step2.新增願望</h4>
		<p>設定願望名稱、完成日(日後將不可更改)</p>
		<p>設定願望為公開或私人</p>
	</div>
	<div class="col-md-2">
		<h4>step3.設立決心押金</h4>
		<p>若選擇不設立，可略過此步驟</p>
	</div>
	<div class="col-md-2">
		<h4>step4.執行與檢視</h4>
		<p>根據願望清單的PDCA內容執行</p>
	</div>
	<div class="col-md-2">
		<h4>step5.達成目標</h4>
		<p>達成目標後，更新進度</p>
		
	</div>
	<div class="col-md-2">
		<h4>step6.再次設立願望</h4>
		<p>歡迎再次新增願望新單，及與大家分享你的計劃</p>
	</div>
</div>
<div class="container text-center">
	<h2>2.怎麼設立決心押金?</h2>
	<div class="col-md-3">
		<h4>在哪裡設?</h4>
		<p>成功新增願望後，選取設立決心押金按鈕。</p>
	</div>
	<div class="col-md-3">
		<h4>要設多少押金?</h4>
		<p>基於網站管理效率，最低押金金額為NT500元，只要高於NT500，要設多少押金，看你的決心囉！</p>
	</div>
	<div class="col-md-3">
		<h4>怎麼退回押金?</h4>
		<p>在設定達成日之前，憑您自由心證，在您更新計劃進度，選取完成計劃選項後，我們將於預設達成日後5個工作天內退回押金於您的預設帳戶。</p>
	</div>
	<div class="col-md-3">
		<h4>若未達成目標?</h4>
		<p>若不幸地沒有在設定達成日前，更新計劃進度，選取完成計劃選項，我們將於季底統一捐出押金給您指定的慈善機構，並提供您捐款收據。</p>
	</div>
</div>
<div class="container">
	<h2>3.不知怎麼設定PDCA?</h2>
	<h3>來看看鈴木ㄧ朗的範本吧</h3>
	<div class="container">
		<p class="text-center">我的夢想 愛知縣西春井郡山國小 6年2班 鈴木一朗</p>

		<p>我的夢想，是成為一流的職業棒球選手。為了這個目標，我一定要參加國、高中的全國大賽，在球場上有好成績。</p>
		<p><span>想要活躍於球場上，練習是必要的。</span>我從三歲就開始練球，從三歲到七歲的練習時間雖然只有半年，但我從三年級開始，<span>一年365天之中，就花了360天拚命練習，一周與朋友玩的時間不到六個小時。</span>我想，這樣一定就能成為職業棒球選手。</p>

		<p>除了在國高中打出好成績之外，我打算在高中畢業就進入職業球隊。我希望能進入中日龍或是西武獅子隊，參加新人選秀，目標簽約金在一億元以上。我對自己的投球和打擊很有自信。</p>

		<p>去年夏天，我們球隊參加了全國大賽。<span>我看了所有的投手，確定自己是大賽中的No.1。在打擊的部分，縣立大賽的四場比賽中，我就擊出了三支全壘打，整體打擊率是58.3%</span>，連我自己都很滿意這個成績。</p>

		<span>接下來也要保持這個狀態，繼續努力。</span></p>
		<p>等我成為一流的選手，我一定會送比賽入場券給那些照顧過我的人，讓他們為我加油，也是我的夢想之一。</p>
		<p>總之，我最大的夢想，就是成為職業棒球選手。</p>
	</div>
	<div class="container text-center">
		<div class="col-md-3">
			<h4 >Plan計劃</h4>
			<h6>寫下達成職業選手目標該做的事</h6>
			<p>想要活躍於球場上，練習是必要的。</p>
		</div>
		<div class="col-md-3">
			<h4>Do執行</h4>
			<h6>明白列出練習棒球時數的標準</h6>
			<p>一年365天之中，就花了360天拚命練習，一周與朋友玩的時間不到六個小時。</p>
		</div>
		<div class="col-md-3">
			<h4>Check檢查</h4>
			<h6>評估自己執行的成效</h6>
			<p>我看了所有的投手，確定自己是大賽中的No.1。在打擊的部分，縣立大賽的四場比賽中，我就擊出了三支全壘打，整體打擊率是58.3%</p>
		</div>
		<div class="col-md-3">
			<h4>Action行動</h4>
			<h6>根據檢查結果，決定持續進行</h6>
			<p>接下來也要保持這個狀態，繼續努力。</p>
		</div>
	
	</div>
	
</div>

<style>
	span{
		background-color: rgba(42,57,74,0.3);
	}
</style>
