<div class="container text-center">
	<h2 class="tc"> <%= @user.nickname %> 的公開Profile </h2>
		
</div>
<div class="container">
	<div class="profile">
		<h4><i class="fa fa-files-o" aria-hidden="true">願望數:</i></h4>
		<p><%= @plan_count %>個</p>


		<h4><i class="fa fa-user-o" aria-hidden="true">個人簡介:</i></h4>
		<%= @user.introduction%>


	

	</div>
	<div class="text-center">
		<%= link_to "回上ㄧ頁", "javascript:history.go(-1);",class:"btn" %>
	</div>
</div>






