// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.banner{
	width:60%;
	margin:0 auto;
	position: relative;
}
 .resize{

		width: 100%;
		height: auto;
	}



	.newlayer{
		display: none;
		z-index: 1;
		position: absolute;
		top:25%;
		width:100%;
		height: 30%;
		box-sizing: border-box;
		padding-top: 20px;
	}




	.banner:hover .newlayer {
		display: block;
	}


	
	.soccer{
		position: absolute;
		top:250px;
		left:0px;
		animation-name: spin;
		animation-duration: 10s;
		animation-iteration-count: infinite;
		transform-origin: 50% 50%;
	
		

	}


	@keyframes spin {
		from { transform: rotate(0deg); }
  	to { transform: rotate(360deg); }
	}


	@keyframes roll{
		0%   { left: -100px; top:250px;}
		50%   { left: -100px; top:200px;}
  	100% { left: 100%; top:150px; }
	}