// Place all the styles related to the plan_photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.btn-little{
	background-color:rgba(90,178,176,0.8);
    color:white;
    font-size: 12px;
    margin:6px;
    box-sizing: border-box;
}