// Place all the styles related to the user_profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.tc{
		text-align: center;
		padding-bottom: 50px;

	}
	.btn{
	 float: right;
	}

	.profile{
		border-width:0.5px;
		border-style: dashed;
		width:70%;
		margin:0 auto;
		min-height: 200px;


	}
