<p>您好 <%= @resource.email %>!</p>

<p>您已要求要更換密碼嗎？你可以點選以下連結更換！</p>

<p><%= link_to '更改密碼', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>如果您未要求更換密碼，請忽略此信!</p>
<p>若您未點選連結並設定新密碼，您的密碼將不回更新！</p>
