<div class="ppt">
	<%= image_tag "goal.png" ,class:"resize" %>
</div>

<style>
 .ppt{
 	margin-top: 0px;
 }
 .resize{
		resize: 
		width : auto;
		width : 100%;
		height : auto;
		height : 600px;
	}
</style>

