<div>
	<h1>User's Bucket Lists</h1>
</div>

<div>
	<table>
	<tr>
	    <th>願望主題</th>
		<th>預計完成日</th>
	</tr>

	
		<% @plans.each do |p| %>
	<tr>
		<td><%= p.title%></td>
		<td><%= p.duedate%></td>
	</tr>
	</table>
		<%= p.img_location %><hr>
	 	<%= link_to 'Detail', plan_path(p) %>
	<% end %>
	
	

   

</div>