<%= form_for [@plan, @plan.photos.new] , html: { multipart: true } , :remote => true   do |f| %> 
	<div class="upload-preview">
    <% if @plan.photos.new.image.url %>		
      <%= image_tag @plan.photos.new.image.url ,class:"resize-small" %>
    <% end %>
	</div>
	<%= f.file_field :image ,:id =>"photo-text" ,class:"file" %>
	
	
  <%= f.submit "上傳更多圖片", class:"btn-little"%> 
<% end %>

