<!DOCTYPE html>
<html>
  <head>
    <title>BucketList</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://use.fontawesome.com/df1bf87ec0.js"></script>
   <link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah" rel="stylesheet">



  </head>

  <body>
  	<%= yield %>
  </body>
</html>

<script>
 var editor = new MediumEditor('.editable', {
    toolbar: {
        allowMultiParagraphSelection: true,
        buttons: ['bold', 'italic', 'h4','orderedlist','unorderedlist'],
        diffLeft: 0,
        diffTop: -10,
        firstButtonClass: 'medium-editor-button-first',
        lastButtonClass: 'medium-editor-button-last',
        relativeContainer: null,
        standardizeSelectionStart: false,
        static: true,
        align: 'center',
        sticky: false,
        updateOnEmptySelection: false
    },
    placeholder: {
        /* This example includes the default options for placeholder,
           if nothing is passed this is what it used */
        text: '輸入內容，選取文字範圍即可編輯',
        hideOnClick: true
    }
   
});

</script>
